<div class="outer-wrapper">
  <div class="wrapper">
    <div class="container text-center py-5">
      <div class="py-5">
        <div class="fs-2 fw-bold py-2">Organize Your Thoughts</div>
        <div class="fs-4 fw-medium py-2">Anytime, Anywhere</div>
        <div class="d-flex justify-content-center mt-3 py-4">
          <button class="btn btn-outline-success me-3 px-4" routerLink="/login">Login</button>
          <button class="btn btn-outline-danger px-3" routerLink="/signup">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
